html,
body {
  margin: 0;
}

body {
  background: black;
  color: white;
  padding: 64px;
  font-family: sans-serif;
}

input[type='text'],
button {
  background: #222;
  color: #dbdbdb;
  border: none;
  padding: 8px;
}

button:hover {
  cursor: pointer;
  background: #333;
}

#output {
  display: none;
}
