<style>
  html,
  body {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: black;
    color: white;
    font-family: sans-serif;
  }

  h1,
  h2 {
    margin: 0;
  }

  form {
    padding-top: 16px;
  }

  section {
    padding-bottom: 32px;
  }

  input[type='text'],
  button,
  input[type='password'] {
    background: #222;
    color: #dbdbdb;
    border: none;
    padding: 8px;
  }

  button:hover {
    cursor: pointer;
    background: #333;
  }

  td button {
    background: none;
  }

  #output {
    display: none;
  }

  header,
  footer {
    height: calc(10vh - 32px);
  }

  main {
    height: calc(80vh - 32px);
  }

  header,
  main,
  footer {
    padding: 16px;
  }

  p {
    font-size: 0.7rem;
    color: grey;
    max-width: 400px;
  }

  a {
    color: #dbdbdb;
  }

  table {
    border-collapse: collapse;
    margin-top: 16px;
    max-height: 50vh;
    overflow-y: auto;
  }

  th,
  td {
    padding: 16px 32px 16px 32px;
  }

  tr:nth-child(odd) {
    background: #222;
  }

  #authenticated-content {
    display: none;
  }
</style>
